<section class="about-us" id="about-us">
<div class="container">
	<h2 class="visually-hidden">About us</h2>
	<ul class="about-us__items">
		<li class="about-us__item">
			<img class="about-us__svg" src="./images/about-us/location.svg" alt="content photo"></img>
		<div class="about-us-position">
			<h3 class="about-us__title title">Locate Us</h3>
		<p class="about-us__text">Riverside 25, San Diego, California</p>
		</div>
		</li>
		<li class="about-us__item">
			<img class="about-us__svg" src="./images/about-us/time.svg" alt="content photo"></img>
		<div class="about-us-position">
			<h3 class="about-us__title title">Open Hours</h3>
		<p class="about-us__text">Mon To Fri 9:00 AM - 9:00 PM</p>
		</div>
		</li>
		<li class="about-us__item">
		<img class="about-us__svg" src="./images/about-us/reservation.svg" alt="content photo"></img>
		<div class="about-us-position">
			<h3 class="about-us__title title">Reservation</h3>
			<p class="about-us__text">restaurantate@gmail.com</p>	
		</div>
		</li>
	</ul>
	<div class="about-us__description">
		<img class="about-us__img" srcset="./images/about-us/about-us.jpeg 1x, ./images/about-us/about-us@2x.jpeg 2x" src="./images/about-us/about-us.jpeg" alt="photo of restaurant">
	<div class="about-us__box">
		<h3 class="about-us__subtitle title">The Delicious Story</h3>
	<p class="about-us__content">The people, food and the prime locations make the perfect place for the friends & family to come together and have great time.</p>
<ul class="about-us__years">
<li class="about-us__year"><p class="about-us__title-year title">2018</p><p class="about-us__yers-text">Plan for this restaurant to deliver healthy food.</p></li>
<li class="about-us__year"><p class="about-us__title-year title">2022</p><p class="about-us__yers-text">Happily in the fourth year by fulfill the motto.</p></li>
</ul>
<p class="about-us__name">JOSEFINE</p>
<svg class="about-us__signature" width="200" height="111"><use href="./images/sprite.svg#icon-signature"></use></svg>
	</div>
	</div>
</div>
</section>