<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__main-information">
      <div class="footer__contact">
        <h3 class="footer__little-title little-title">Contact</h3>
        <address class="footer__address">
          <a
            class="footer__map"
            href="https://goo.gl/maps/fRKideai6vqRitvr7"
            target="_blank"
            rel="noopener noreferrer"
            >5 Rue Dalou, 75015 Paris</a
          >
          <a class="footer__tel" href="tel:+123456789">+123 456 789</a>
          <a class="footer__mail" href="mailto:josefin@mail.com"
            >josefin@mail.com</a
          >
        </address>
      </div>
      <ul class="footer__hours">
        <h3 class="footer__little-titles little-title">Working Hours</h3>
        <li class="footer__hour">
          <p class="footer__time">7.00am – 6.00pm</p>
          <p class="footer__day">Mon - Sat</p>
        </li>
        <li class="footer__hour">
          <p class="footer__time">8.00am – 6.00pm</p>
          <p class="footer__day">Sun</p>
        </li>
      </ul>
      <div class="subscribe">
        <p class="subscribe__text">
          Join our mailing list for updates. <br />
          Get news & offers events.
        </p>
        <div class="subscribe__form form__field">
          <input
            class="subscribe__form-input form-input"
            type="email"
            name="email"
            placeholder=" "
            autocomplete="email"
          />
          <label for="email" class="subscribe-form-label form-label"
            >Email</label
          >
          <button class="reservation__button" type="submit">Subscribe</button>
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <div class="copyright__text">
        © Copyright - TastEat | Designed by
        <span class="copyright__accent">VictorFlow</span>
      </div>
      <ul class="social-networks">
        <li class="social-networks__items">
          <a class="social-networks__link" href="#" aria-label="instagram"
            ><svg class="social-networks__img" width="25" height="25">
              <use href="././images/sprite.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="social-networks__items">
          <a class="social-networks__link" href="#" aria-label="facebook"
            ><svg class="social-networks__img" width="25" height="25">
              <use href="././images/sprite.svg#icon-fb"></use></svg
          ></a>
        </li>
        <li class="social-networks__items">
          <a class="social-networks__link" href="#" aria-label="twiter"
            ><svg class="social-networks__img" width="25" height="25">
              <use href="././images/sprite.svg#icon-tw"></use></svg
          ></a>
        </li>
        <li class="social-networks__items">
          <a class="social-networks__link" href="#" aria-label="pinterest"
            ><svg class="social-networks__img" width="25" height="25">
              <use href="././images/sprite.svg#icon-pn"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
