<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__phone" href="tel:+1484123456"
        ><span class="only-for-pc">Call - 484 123 456</span>
        <samp class="before-pc">+1 (484) 123 456</samp></a
      >
      <a class="logo" href="./index.html"
        ><svg class="header__logo">
          <use href="images/sprite.svg#icon-logo"></use></svg
      ></a>
      <a class="button-fill" href="#">Reservation</a>
    </div>
    <div class="header__menu">
      <nav class="menu">
        <ul class="menu__items">
          <li class="menu__item">
            <a class="menu__link" href="#">About Us</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Our Menu</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Pages</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Blog</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Contact Us</a>
          </li>
        </ul>
        <ul class="social-networks">
          <li class="social-networks__items">
            <a class="social-networks__link" href="#"
              ><svg class="social-networks__img" width="25" height="25">
                <use href="images/sprite.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="social-networks__items">
            <a class="social-networks__link" href="#"
              ><svg class="social-networks__img" width="25" height="25">
                <use href="images/sprite.svg#icon-fb"></use></svg
            ></a>
          </li>
          <li class="social-networks__items">
            <a class="social-networks__link" href="#"
              ><svg class="social-networks__img" width="25" height="25">
                <use href="images/sprite.svg#icon-tw"></use></svg
            ></a>
          </li>
          <li class="social-networks__items">
            <a class="social-networks__link" href="#"
              ><svg class="social-networks__img" width="25" height="25">
                <use href="images/sprite.svg#icon-pn"></use></svg
            ></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="mobile-menu">
      <button
        class="mobile-menu__button"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu__button"
        data-menu-button
      >
        <svg
          class="mobile-menu__img"
          width="45"
          height="22"
          aria-label="Mobile menu switcher"
        >
          <use class="icon-menu" href="images/sprite.svg#icon-burger"></use>
          <use class="icon-close" href="images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="mobile-menu__list" data-menu>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">About Us</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">Our Menu</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">Pages</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">Blog</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</header>
