<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__description">
        <h1 class="hero__title">Welcome to Restaurant</h1>
        <p class="hero__text">
          The people, food and the prime locations make the perfect place good
          friends & family to come together and have great time.
        </p>
        <a class="hero__btn button" href="#">View Menu</a>
      </div>
      <div class="hero__img">
        <img
          class="hero__images"
          srcset="./images/hero/hero.png 1x, ./images/hero/hero@2x.png 2x"
          src="./images/hero/hero.png"
          alt="restaurant image"
        />
      </div>
    </div>
  </div>
</section>
