<section class="restaurant-menu">
  <div class="container">
    <h3 class="restaurant-menu__menu">MENU</h3>
    <div class="restaurant-menu__box">
      <div class="restaurant-menu__description">
        <h2 class="restaurant-menu__title title">Try Our Special dishes</h2>
        <p class="restaurant-menu__text">
          Every time you perfectly dine with us, it should happy for great
          inspired food in an environment designed with individual touches
          unique to the local area.
        </p>
        <img
          class="restaurant-menu__content-img"
          srcset="images/menu/menu.jpeg 1x, images/menu/menu@2x.jpeg 2x"
          src="images/menu/menu.jpeg"
          alt="photo of food"
        />
        <button
          class="restaurant-menu__button button"
          data-modal-open
          type="button"
        >
          See all dishes
        </button>
      </div>
      <div class="restaurant-menu__options">
        <h3 class="restaurant-menu__title-option title">Starters</h3>
        <ul class="restaurant-menu__food-items">
          <li class="restaurant-menu__food-item">
            <img
              srcset="
                images/menu/raw-scallops.png    1x,
                images/menu/raw-scallops@2x.png 2x
              "
              src="images/menu/raw-scallops.png"
              alt="photo of food"
              width="84"
              height="84"
            />

            <div class="restaurant-menu__box-description">
              <h4 class="restaurant-menu__food-title title">
                Raw Scallops from Erquy
              </h4>
              <p class="restaurant-menu__food-description">
                Shuck the scallop to that used for oysters
              </p>
            </div>
            <div class="estaurant-menu__empty"></div>
            <p class="restaurant-menu__price">$40</p>
          </li>
          <li class="restaurant-menu__food-item">
            <img
              srcset="
                images/menu/spring-roll.png    1x,
                images/menu/spring-roll@2x.png 2x
              "
              src="images/menu/spring-roll.png"
              alt="photo of food"
              width="84"
              height="84"
            />
            <div class="restaurant-menu__box-description">
              <h4 class="restaurant-menu__food-title title">Spring Roll</h4>
              <p class="restaurant-menu__food-description">
                Add oil to a hot pan spring onion whites
              </p>
            </div>
            <div class="estaurant-menu__empty"></div>
            <p class="restaurant-menu__price">$20</p>
          </li>
          <li class="restaurant-menu__food-item">
            <img
              srcset="
                images/menu/french-onion-soup.png    1x,
                images/menu/french-onion-soup@2x.png 2x
              "
              src="images/menu/french-onion-soup.png"
              alt="photo of food"
              width="84"
              height="84"
            />
            <div class="restaurant-menu__box-description">
              <h4 class="restaurant-menu__food-title title">
                French Onion Soup
              </h4>
              <p class="restaurant-menu__food-description">
                Wheat flour, apple cider vinegar, bread
              </p>
            </div>
            <div class="estaurant-menu__empty"></div>
            <p class="restaurant-menu__price">$25</p>
          </li>
          <li class="restaurant-menu__food-item">
            <img
              srcset="
                images/menu/tomato-bruschetta.png    1x,
                images/menu/tomato-bruschetta@2x.png 2x
              "
              src="images/menu/tomato-bruschetta.png"
              alt="photo of food"
              width="84"
              height="84"
            />
            <div class="restaurant-menu__box-description">
              <h4 class="restaurant-menu__food-title title">
                Tomato Bruschetta
              </h4>
              <p class="restaurant-menu__food-description">
                Bread, olive oil, garlic, black pepper
              </p>
            </div>
            <div class="estaurant-menu__empty"></div>
            <p class="restaurant-menu__price">$30</p>
          </li>
        </ul>
      </div>

      <!-- read more for mobile -->

      <div class="read-more" id="more-para" style="display: none">
        <h3 class="restaurant-menu__title-option title">Main Dish</h3>
        <ul class="restaurant-menu__food-items">
          <li class="restaurant-menu__food-item">
            <img
              srcset="
                images/menu/grilled-salmon.png    1x,
                images/menu/grilled-salmon@2x.png 2x
              "
              src="images/menu/grilled-salmon.png"
              alt="photo of food"
              width="84"
              height="84"
            />

            <div class="restaurant-menu__box-description">
              <h4 class="restaurant-menu__food-title title">
                Grilled Salmon with Dill Sauce
              </h4>
              <p class="restaurant-menu__food-description">
                Brown sugar, salmon fillet, Dijon mustard
              </p>
            </div>
            <div class="estaurant-menu__empty"></div>
            <p class="restaurant-menu__price">$40</p>
          </li>
          <li class="restaurant-menu__food-item">
            <img
              srcset="
                images/menu/roast-beef-with-vegetable.png    1x,
                images/menu/roast-beef-with-vegetable@2x.png 2x
              "
              src="images/menu/roast-beef-with-vegetable.png"
              alt="photo of food"
              width="84"
              height="84"
            />
            <div class="restaurant-menu__box-description">
              <h4 class="restaurant-menu__food-title title">
                Roast Beef with Vegetable
              </h4>
              <p class="restaurant-menu__food-description">
                Green beans, rib eye, olive oil, beef
              </p>
            </div>
            <div class="estaurant-menu__empty"></div>
            <p class="restaurant-menu__price">$20</p>
          </li>
          <li class="restaurant-menu__food-item">
            <img
              srcset="
                images/menu/marrkesh-vegetetarian-curruy.png    1x,
                images/menu/marrkesh-vegetetarian-curruy@2x.png 2x
              "
              src="images/menu/marrkesh-vegetetarian-curruy.png"
              alt="photo of food"
              width="84"
              height="84"
            />
            <div class="restaurant-menu__box-description">
              <h4 class="restaurant-menu__food-title title">
                Marrkesh Vegetetarian Curruy
              </h4>
              <p class="restaurant-menu__food-description">
                Sweet potato, eggplant, garbanzo bean
              </p>
            </div>
            <div class="estaurant-menu__empty"></div>
            <p class="restaurant-menu__price">$25</p>
          </li>
          <li class="restaurant-menu__food-item">
            <img
              srcset="
                images/menu/spicy-vegan-potato-curry.png    1x,
                images/menu/spicy-vegan-potato-curry@2x.png 2x
              "
              src="images/menu/spicy-vegan-potato-curry.png"
              alt="photo of food"
              width="84"
              height="84"
            />
            <div class="restaurant-menu__box-description">
              <h4 class="restaurant-menu__food-title title">
                Spicy Vegan Potato Curry
              </h4>
              <p class="restaurant-menu__food-description">
                Coconut milk, beans, potatoes, curry powder
              </p>
            </div>
            <div class="estaurant-menu__empty"></div>
            <p class="restaurant-menu__price">$35</p>
          </li>
        </ul>
        <h3 class="restaurant-menu__title-option title">Dessert</h3>
        <ul class="restaurant-menu__food-items">
          <li class="restaurant-menu__food-item">
            <img
              srcset="
                images/menu/apple-pie-with-cream.png    1x,
                images/menu/apple-pie-with-cream@2x.png 2x
              "
              src="images/menu/apple-pie-with-cream.png"
              alt="photo of food"
              width="84"
              height="84"
            />

            <div class="restaurant-menu__box-description">
              <h4 class="restaurant-menu__food-title title">
                Apple Pie with Cream
              </h4>
              <p class="restaurant-menu__food-description">
                Whipping cream, egg white, cinnamon
              </p>
            </div>
            <div class="estaurant-menu__empty"></div>
            <p class="restaurant-menu__price">$15</p>
          </li>
          <li class="restaurant-menu__food-item">
            <img
              srcset="
                images/menu/lemon-meringue-pie.png    1x,
                images/menu/lemon-meringue-pie@2x.png 2x
              "
              src="images/menu/lemon-meringue-pie.png"
              alt="photo of food"
              width="84"
              height="84"
            />
            <div class="restaurant-menu__box-description">
              <h4 class="restaurant-menu__food-title title">
                Lemon Meringue Pie
              </h4>
              <p class="restaurant-menu__food-description">
                Frozen pie crust, meringue, lemon
              </p>
            </div>
            <div class="estaurant-menu__empty"></div>
            <p class="restaurant-menu__price">$30</p>
          </li>
        </ul>
      </div>
      <span id="para-dots"></span>
      <button
        type="button"
        class="button__read-more"
        onclick="moreLess(event)"
        id="btn"
      >
        See all dishes
      </button>
    </div>
  </div>

  <!-- backdrop for laptop -->

  <div class="backdrop backdrop--is-hidden" data-modal>
    <div class="backdrop__modal">
      <button class="button-close" data-modal-close type="button">
        <svg class="button-close__img">
          <use href="images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <h3 class="restaurant-menu__title-option title">Starters</h3>
      <ul class="restaurant-menu__food-items">
        <li class="restaurant-menu__food-item">
          <img
            srcset="
              images/menu/raw-scallops.png    1x,
              images/menu/raw-scallops@2x.png 2x
            "
            src="images/menu/raw-scallops.png"
            alt="photo of food"
            width="84"
            height="84"
          />

          <div class="restaurant-menu__box-description">
            <h4 class="restaurant-menu__food-title title">
              Raw Scallops from Erquy
            </h4>
            <p class="restaurant-menu__food-description">
              Shuck the scallop to that used for oysters
            </p>
          </div>
          <div class="estaurant-menu__empty"></div>
          <p class="restaurant-menu__price">$40</p>
        </li>
        <li class="restaurant-menu__food-item">
          <img
            srcset="
              images/menu/spring-roll.png    1x,
              images/menu/spring-roll@2x.png 2x
            "
            src="images/menu/spring-roll.png"
            alt="photo of food"
            width="84"
            height="84"
          />
          <div class="restaurant-menu__box-description">
            <h4 class="restaurant-menu__food-title title">Spring Roll</h4>
            <p class="restaurant-menu__food-description">
              Add oil to a hot pan spring onion whites
            </p>
          </div>
          <div class="estaurant-menu__empty"></div>
          <p class="restaurant-menu__price">$20</p>
        </li>
        <li class="restaurant-menu__food-item">
          <img
            srcset="
              images/menu/french-onion-soup.png    1x,
              images/menu/french-onion-soup@2x.png 2x
            "
            src="images/menu/french-onion-soup.png"
            alt="photo of food"
            width="84"
            height="84"
          />
          <div class="restaurant-menu__box-description">
            <h4 class="restaurant-menu__food-title title">French Onion Soup</h4>
            <p class="restaurant-menu__food-description">
              Wheat flour, apple cider vinegar, bread
            </p>
          </div>
          <div class="estaurant-menu__empty"></div>
          <p class="restaurant-menu__price">$25</p>
        </li>
        <li class="restaurant-menu__food-item">
          <img
            srcset="
              images/menu/tomato-bruschetta.png    1x,
              images/menu/tomato-bruschetta@2x.png 2x
            "
            src="images/menu/tomato-bruschetta.png"
            alt="photo of food"
            width="84"
            height="84"
          />
          <div class="restaurant-menu__box-description">
            <h4 class="restaurant-menu__food-title title">Tomato Bruschetta</h4>
            <p class="restaurant-menu__food-description">
              Bread, olive oil, garlic, black pepper
            </p>
          </div>
          <div class="estaurant-menu__empty"></div>
          <p class="restaurant-menu__price">$30</p>
        </li>
      </ul>
      <h3 class="restaurant-menu__title-option title">Main Dish</h3>
      <ul class="restaurant-menu__food-items">
        <li class="restaurant-menu__food-item">
          <img
            srcset="
              images/menu/grilled-salmon.png    1x,
              images/menu/grilled-salmon@2x.png 2x
            "
            src="images/menu/grilled-salmon.png"
            alt="photo of food"
            width="84"
            height="84"
          />

          <div class="restaurant-menu__box-description">
            <h4 class="restaurant-menu__food-title title">
              Grilled Salmon with Dill Sauce
            </h4>
            <p class="restaurant-menu__food-description">
              Brown sugar, salmon fillet, Dijon mustard
            </p>
          </div>
          <div class="estaurant-menu__empty"></div>
          <p class="restaurant-menu__price">$40</p>
        </li>
        <li class="restaurant-menu__food-item">
          <img
            srcset="
              images/menu/roast-beef-with-vegetable.png    1x,
              images/menu/roast-beef-with-vegetable@2x.png 2x
            "
            src="images/menu/roast-beef-with-vegetable.png"
            alt="photo of food"
            width="84"
            height="84"
          />
          <div class="restaurant-menu__box-description">
            <h4 class="restaurant-menu__food-title title">
              Roast Beef with Vegetable
            </h4>
            <p class="restaurant-menu__food-description">
              Green beans, rib eye, olive oil, beef
            </p>
          </div>
          <div class="estaurant-menu__empty"></div>
          <p class="restaurant-menu__price">$20</p>
        </li>
        <li class="restaurant-menu__food-item">
          <img
            srcset="
              images/menu/marrkesh-vegetetarian-curruy.png    1x,
              images/menu/marrkesh-vegetetarian-curruy@2x.png 2x
            "
            src="images/menu/marrkesh-vegetetarian-curruy.png"
            alt="photo of food"
            width="84"
            height="84"
          />
          <div class="restaurant-menu__box-description">
            <h4 class="restaurant-menu__food-title title">
              Marrkesh Vegetetarian Curruy
            </h4>
            <p class="restaurant-menu__food-description">
              Sweet potato, eggplant, garbanzo bean
            </p>
          </div>
          <div class="estaurant-menu__empty"></div>
          <p class="restaurant-menu__price">$25</p>
        </li>
        <li class="restaurant-menu__food-item">
          <img
            srcset="
              images/menu/spicy-vegan-potato-curry.png    1x,
              images/menu/spicy-vegan-potato-curry@2x.png 2x
            "
            src="images/menu/spicy-vegan-potato-curry.png"
            alt="photo of food"
            width="84"
            height="84"
          />
          <div class="restaurant-menu__box-description">
            <h4 class="restaurant-menu__food-title title">
              Spicy Vegan Potato Curry
            </h4>
            <p class="restaurant-menu__food-description">
              Coconut milk, beans, potatoes, curry powder
            </p>
          </div>
          <div class="estaurant-menu__empty"></div>
          <p class="restaurant-menu__price">$35</p>
        </li>
      </ul>
      <h3 class="restaurant-menu__title-option title">Dessert</h3>
      <ul class="restaurant-menu__food-items">
        <li class="restaurant-menu__food-item">
          <img
            srcset="
              images/menu/apple-pie-with-cream.png    1x,
              images/menu/apple-pie-with-cream@2x.png 2x
            "
            src="images/menu/apple-pie-with-cream.png"
            alt="photo of food"
            width="84"
            height="84"
          />

          <div class="restaurant-menu__box-description">
            <h4 class="restaurant-menu__food-title title">
              Apple Pie with Cream
            </h4>
            <p class="restaurant-menu__food-description">
              Whipping cream, egg white, cinnamon
            </p>
          </div>
          <div class="estaurant-menu__empty"></div>
          <p class="restaurant-menu__price">$15</p>
        </li>
        <li class="restaurant-menu__food-item">
          <img
            srcset="
              images/menu/lemon-meringue-pie.png    1x,
              images/menu/lemon-meringue-pie@2x.png 2x
            "
            src="images/menu/lemon-meringue-pie.png"
            alt="photo of food"
            width="84"
            height="84"
          />
          <div class="restaurant-menu__box-description">
            <h4 class="restaurant-menu__food-title title">
              Lemon Meringue Pie
            </h4>
            <p class="restaurant-menu__food-description">
              Frozen pie crust, meringue, lemon
            </p>
          </div>
          <div class="estaurant-menu__empty"></div>
          <p class="restaurant-menu__price">$30</p>
        </li>
      </ul>
    </div>
  </div>
</section>
