<img
  class="content-img"
  srcset="images/offers/content.jpeg 1x, images/offers/content@2x.jpeg 2x"
  src="images/offers/content.jpeg"
  alt="content photo"
/>
<section class="offers">
  <div class="container">
    <h3 class="little-title">offers</h3>
    <h2 class="title">Our Offer dishes</h2>
    <p class="offers__text">
      Our chefs create melt-in-your-mouth dishes that'll satiate even the
      fussiest eaters now the dishes are in offers use it based on hunger.
    </p>
    <div class="offers__images">
      <div class="offers__image">
        <p class="offers__prise title">
          only <br />
          $10
        </p>
        <p class="little-title offer">50% Offer Going</p>
        <p class="offers__name">Chicken Burger</p>
        <p class="offers__description">
          Chicken burger with the tasty toppings and leaves.
        </p>
      </div>
      <div class="offers__image">
        <p class="offers__prise title">
          only <br />
          $9
        </p>
        <p class="little-title offer">50% Offer Going</p>
        <p class="offers__name">Chicken Pizza</p>
        <p class="offers__description">
          Pizza with multiple flavor and the toping are mixed.
        </p>
      </div>
    </div>
    <h2 class="title">Popular Dishes</h2>
    <p class="offers__text">
      There is a game between the waiters in restaurant to see who serves the
      food to each table fastest. That led to attempting the Guinness Record.
    </p>
    <ul class="offers__items">
      <li class="offers__item">
        <img
          srcset="
            images/offers/chicken.jpeg    1x,
            images/offers/chicken@2x.jpeg 2x
          "
          src="images/offers/chicken.jpeg"
          alt=""
        />
        <div class="offers__dishes">
          <p class="offes__dishes-name title">Chicken Manjoori</p>
          <p class="offers__dishes-price">$15</p>
          <p class="offers__dishes-description">
            Dish relished by all age groups as a starter dish at parties.
          </p>
        </div>
      </li>
      <li class="offers__item">
        <img
          srcset="images/offers/hotdog.jpeg 1x, images/offers/hotdog@2x.jpeg 2x"
          src="images/offers/hotdog.jpeg"
          alt=""
        />
        <div class="offers__dishes">
          <p class="offes__dishes-name title">Hotdog</p>
          <p class="offers__dishes-price">$10</p>
          <p class="offers__dishes-description">
            Grilled sausage served in the slit of a partially sliced bun.
          </p>
        </div>
      </li>
      <li class="offers__item">
        <img
          srcset="images/offers/fresh.jpeg 1x, images/offers/fresh@2x.jpeg 2x"
          src="images/offers/fresh.jpeg"
          alt=""
        />
        <div class="offers__dishes">
          <p class="offes__dishes-name title">Fresh Salmon</p>
          <p class="offers__dishes-price">$5</p>
          <p class="offers__dishes-description">
            Beat the health blues with our Super Immune Blue Juice Recipe.
          </p>
        </div>
      </li>
      <li class="offers__item">
        <img
          srcset="
            images/offers/veg-burger.jpeg    1x,
            images/offers/veg-burger@2x.jpeg 2x
          "
          src="images/offers/veg-burger.jpeg"
          alt=""
        />
        <div class="offers__dishes">
          <p class="offes__dishes-name title">Veg Burger</p>
          <p class="offers__dishes-price">$10</p>
          <p class="offers__dishes-description">
            Dish relished by all age groups as a starter dish at parties.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
