<section class="reservation">
  <div class="container">
    <div class="reservation__box">
      <h3 class="little-title">reservation</h3>
      <h2 class="reservation title">Book Your Table</h2>
      <form class="form">
        <input
          class="form-input"
          type="text"
          name="username"
          placeholder="Name"
          autocomplete="name"
        />
        <input
          class="form-input"
          type="email"
          name="email"
          placeholder="Email"
          autocomplete="email"
        />
        <input
          class="form-input"
          type="number"
          name="number"
          placeholder="Persons"
        />
        <input
          class="form-input"
          type="time"
          name="time"
          placeholder="Timing"
        />
        <input class="form-input" type="date" name="date" placeholder="Date" />
      </form>
      <button class="reservation__button" type="submit">Book A Table</button>
    </div>
  </div>
</section>
