<section class="services">
  <div class="container services__container">
    <div class="services__description">
      <h3 class="services__little-title little-title">What we offer</h3>
      <h2 class="services__title title">Our Great Services</h2>
      <p class="services__text">
        The atmosphere set the stage. It’s about more than just a dining room
        away from your home. food takes the spotlight as guests.
      </p>
    </div>
    <ul class="services__items">
      <li class="services__item">
        <img class="services__icon" srcset="./images/services/open.png 1x, images/services/open@2x.png 2x" src="./images/services/open.png" alt="content photo"></img>
        <p class="services__icon-text">Opened 24/7</p>
      </li>
		     <li class="services__item">
        <img class="services__icon" srcset="./images/services/menus.png 1x, images/services/menus@2x.png 2x" src="./images/services/menus.png" alt="content photo"></img>
        <p class="services__icon-text">Special Menus</p>
      </li>
		     <li class="services__item">
        <img class="services__icon" srcset="./images/services/delivery.png 1x, images/services/delivery@2x.png 2x" src="./images/services/delivery.png" alt="content photo"></img>
        <p class="services__icon-text">Home Delivery</p>
      </li>
    </ul>
  </div>
</section>


