.about-us {
  background-color: getColor('extra-bg');
}
.about-us__items {
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  @include for-desktop-up {
    display: flex;
    margin-bottom: 100px;
  }
}

.about-us__item {
  display: flex;
  align-items: center;
  & + .about-us__item {
    margin-top: 20px;
  }
  @include for-desktop-up {
    & + .about-us__item {
      margin-left: 40px;
      margin-top: 0;
    }
  }
}
.about-us-position {
  margin-left: 15px;
  @include for-laptop-up {
    margin-left: 20px;
  }
}
.about-us__svg {
  width: 53px;
  height: 53px;
  @include for-tablet-up {
    width: 83px;
    height: 83px;
  }
}

.about-us__title {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 30px;
  line-height: 1.3em;
  @include for-phone-only {
    font-size: 28px;
    margin-bottom: 0px;
  }
}

.about-us__text {
  @include for-phone-only {
    font-size: 16px;
  }
}

.about-us__description {
  @include for-laptop-up {
    display: flex;
    align-items: flex-start;
  }
}

.about-us__img {
  width: 100%;
  height: auto;
  @include for-laptop-only {
    width: 50%;
  }
  @include for-desktop-up {
    max-width: 743px;
  }
}

.about-us__box {
  @include for-laptop-up {
    margin-left: 45px;
  }
}

.about-us__subtitle {
  margin-top: 30px;
  text-align: left;
  margin-bottom: 15px;
  @include for-laptop-up {
    margin-top: 0;
  }
}

.about-us__content {
  margin-bottom: 25px;
}

.about-us__years {
  display: flex;
}

.about-us__year {
  margin-bottom: 15px;
  & + .about-us__year {
    margin-left: 5px;
  }
}

.about-us__yers-text {
  margin-bottom: 20px;
}

.about-us__name {
  margin-bottom: 20px;
}
.about-us__title-year {
  text-align: left;
}
.about-us__signature {
}
