ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.2px;

  color: getColor('primary-text');
  background-color: getColor('primary-bg');
  &.modal-open {
    overflow: hidden;
  }
}
section {
  padding: 80px 0;
  @include for-laptop-up {
    padding: 160px 0;
  }
}
.button {
  display: inline-block;
  padding: 20px 57px;
  text-decoration: none;
  font-size: 22px;
  line-height: 1.5em;

  color: getColor('accent');
  background-color: transparent;
  border: 2px solid getColor('accent');

  transition: color 250ms $timing-function, border 250ms $timing-function,
    box-shadow 250ms $timing-function;

  &:hover,
  &:focus {
    border: 2px solid getColor('white');
    color: getColor('white');
  }
}

.title {
  font-family: 'Cormorant Infant';
  font-size: 40px;
  line-height: 1.4em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin: 0;
  color: getColor('primary-bg');
}
.little-title {
  padding-top: 5px;
  display: inline-block;
  font-size: 12px;
  line-height: 1.46em;
  letter-spacing: 3px;
  color: getColor('primary-bg');
  border-top: 1px solid getColor('accent');
  border-bottom: 1px solid getColor('accent');
  margin-bottom: 12px;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
