.hero {
}
.hero__inner {
  @include for-laptop-up {
    display: flex;
  }
}

.hero__description {
  text-align: center;
  padding-right: 20px;
  color: getColor('white');
  @include for-laptop-only {
    padding-right: 5px;
    text-align: left;
  }
  @include for-laptop-up {
    text-align: left;
  }
}

.hero__title {
  font-family: 'Cormorant Infant', serif;
  font-size: 50px;
  line-height: 1.1em;
  margin-bottom: 26px;
  @include for-laptop-up {
    font-size: 80px;
  }
  @include for-desktop-up {
    font-size: 100px;
  }
}

.hero__text {
  margin-bottom: 36px;
  max-width: 616px;
}

.hero__images {
  display: none;
  @include for-laptop-only {
    margin-top: 40px;
    display: block;
    max-width: 400px;
    height: auto;
  }
  @include for-desktop-up {
    display: block;
    max-width: 690px;
    height: 790px;
  }
}
