.reservation {
  background-image: url('.././images/reservation/reservation.jpeg');
  background-repeat: no-repeat;
  //   background-size: contain;
  width: 100%;
  background-position: center;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url('.././images/reservation/reservation@2x.jpeg');
    }
  }
  text-align: center;
}
.reservation__box {
  max-width: 920px;
  max-height: 680px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: getColor('reservation-bg');
  @include for-phone-only {
    padding: 20px 10px;
  }
}
.reservation__title {
  margin-bottom: 40px;
  color: getColor('white');
}
.reservation__little-title {
  color: getColor('white');
}

//---------------form-------------------

.form {
  margin: 0 auto 20px;
  @include for-laptop-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
    margin-bottom: 25px;
  }
}

.form__field {
  position: relative;
  margin-top: 30px;
  @include for-laptop-up {
    margin-top: 0px;
    margin: 15px;
  }
}
.form-input {
  width: 100%;
  padding: 18px 10px 19px 23px;
  border: 1px solid getColor('input');
  height: 70px;
  font: inherit;
  color: getColor('white');
  background-color: transparent;

  &:focus + .form-label,
  &:not(:placeholder-shown) + .form-label {
    transform: translateY(-190%);
  }
  @include for-laptop-up {
    width: 300px;
  }
}

.form-label {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 23px;
  transform: translateY(-50%);
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: getColor('white');
  transition: transform 250ms $timing-function;
}
.form__control {
  position: relative;
}
.form__svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  width: 50px;
  height: 50px;
}

//--------------button----------------------

.reservation__button {
  padding-bottom: 155px;
  padding: 23px 54px 12px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5em;
  text-align: center;
  color: getColor('primary-bg');
  background-color: getColor('white');
  border: none;
  &:hover,
  &:focus {
    color: getColor('white');
    background-color: getColor('primary-bg');
    border: 1px solid getColor('white');
  }
}
